Source: libnet-z3950-pqf-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-7ubuntu3)
Maintainer: Mike Taylor <mike@miketaylor.org.uk>
Standards-Version: 3.7.2

Package: libnet-z3950-pqf-perl
Architecture: all
Depends: ${perl:Depends}
Description:  Perl extension for parsing PQF (Prefix Query Format)
 This library provides a parser for PQF (Prefix Query Format), an ugly
 but precise string format for expressing Z39.50 Type-1 queries.  This
 format is widely used behind the scenes of Z39.50 applications, and is
 also used extensively with test-harness programs such as the YAZ
 command-line client, yaz-client.  A few particularly misguided
 souls have been known to type it by hand.
